@model FrutifyMarket.Controllers.Fornitori

@{
    ViewBag.Title = "Delete";
}


<div class="card mb-5">
    <div class="card-body">
        <h3 class="card-title">Elimina Fornitore</h3>
        <div class="card-text">
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.RagioneSociale)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.RagioneSociale)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PIVA)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PIVA)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Citta)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Citta)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Indirizzo)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Indirizzo)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cap)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cap)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Tel)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Tel)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-danger">Elimina</button>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Indietro</a>
                </div>
            }
        </div>
    </div>
</div>
